<nav>
  <%= link_to 'Available Doctors', doctors_path, class: "ui green button inverted" %>
  <%= link_to 'Patients', users_path , class: "ui blue button inverted"%>
  <div class="right">
    <%= link_to 'Log Out', users_path, class: "ui red button inverted" %>
  </div>
</nav>